footer {
    background-color: var(--black);
    width: 100%;
    min-height: 15rem;
}
footer a{
    cursor: pointer;
}
footer a:hover{
    text-decoration: underline;
    color: var(--yellow);
}
footer{
    align-items: flex-start;
}