main{
    width: 100%;
    padding: 5rem min(2rem,5%);
}

.title{
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}
.subtitle{
    align-self: flex-start;
}
.package{
    width: min(50rem, 100%);
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}
.package .header{
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: solid 1px lightgray;
}
.hide-package{
    position: relative;
    height: 2rem;
    width: 2rem;
    margin-right: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
    transition: all .3s ease;
}
.hide-package img{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
}
.hide-package .horizontal{
    transform: rotate(90deg);
    width: 0;
    transition: width .3s ease;
}
.hide-package.package-hidden{
    transform: rotate(90deg);
}
.hide-package.package-hidden .horizontal{
    width: 100%;
}
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr;
    overflow: hidden;
    max-height: 100rem;
    transition: all 0.3s ease-in-out;
}
.grid.package-hidden{
    max-height: 0;
}
div.grid >*{
    border: 1px solid lightgray;
    padding: 1.25rem 0.5rem;
    overflow-x: auto;
}
div.grid >p{
    white-space: pre-line;
    display: flex;
    flex-direction: column;
}
div.grid .mar{
    margin: 0.75rem 0;
}
div.grid >*:nth-child(4n+3),div.grid >*:nth-child(4n+4){
 background-color: gainsboro;   
}
div.grid2.grid{
    padding: 0;
}
div.grid2 >*:nth-child(4n+1),div.grid2 >*:nth-child(4n+2){
    background-color: white;  
}

div.grid-1col{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
}
div.grid-1col > *:nth-child(2n+1){
    background-color: white;
}
.link{
    color: rgb(56, 90, 161);
    transition: color 0.2s ease;
}
.link:hover{
    color: rgb(0, 119, 255);
}