:root{
    --white: rgb(245, 245, 245);
    --black: rgb(40, 40, 40);
    --yellow: rgb(243, 218, 76);

    /*   curente   */
    --umanism: rgb(136, 86, 52);
    --iluminism: white;
    --romantism: rgb(228, 53, 40);
    --realism: rgb(96, 140, 223);
    --simbolism: rgb(160, 160, 160);
    --modernism: rgb(245, 186, 58);
    --traditionalism: rgb(77, 153, 77);

    /*   perioade   */
    --umanista: var(--umanism);
    --iluminista: var(--iluminism);
    --pasoptista: rgb(204, 202, 77);
    --marilor_clasici: rgb(221, 65, 37);
    --interbelica: var(--simbolism);
    --postbelica: rgb(158, 47, 158);
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 100;
    src: url('../res/fonts/Exo2.0-Thin.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 300;
    src: url('../res/fonts/Exo2.0-Light.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: url('../res/fonts/Exo2.0-Regular.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: url('../res/fonts/Exo2.0-Bold.otf');
}
@font-face{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    src: url('../res/fonts/Exo2.0-Black.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Exo;
    color: inherit;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fullbox{
    width: 100%;
    height: 100%;
}
.w100{
    width: 100%;
}
div.loading{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
}
div.loading img{
    border-radius: 50%;
    height: 6rem;
    animation: rotate 1s ease infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg);
    }
}
@media (orientation: portrait){
    html{
        font-size: 0.9rem;
    }
}